<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ihangmei.mall.api.dao.EnterPriseDao">
    <select id="selectByAppKey" parameterType="String" resultType="com.ihangmei.mall.api.entity.EnterPriseEntity">
        select ent_id,ent_name,app_key,app_secret  from  EnterPrise where app_key = #{app_key}
    </select>

</mapper>