<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ihangmei.mall.api.dao.EnterPriseDao">

    <resultMap id="entMapper" type="com.ihangmei.mall.api.entity.EnterPriseEntity">
        <id property="ent_id" column="ent_id"/>
        <result property="ent_name" column="ent_name"/>
        <result property="app_key"  column="app_key"/>
        <result property="app_secret" column="app_secret"/>
    </resultMap>

    <select id="selectByAppKey" parameterType="String" resultType="entMapper">
        select ent_id,ent_name,app_key,app_secret  from  EnterPrise where app_key = #{app_key}
    </select>

</mapper>